<mat-card>
    @if (isLoading) {
    <mat-spinner></mat-spinner>
    } @else {
    <form [formGroup]="form" (submit)="onSavePost()">
        <mat-form-field>
            <mat-label>post title</mat-label>
            <input matInput placeholder="post title" formControlName="title" type="text">
            @if(form.get('title')?.invalid){
            <mat-error>Please enter a post title.</mat-error>
            }

        </mat-form-field>

        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker>
        </div>

        <mat-form-field>
            <mat-label>post content</mat-label>
            <textarea matInput id="content" placeholder="post content" formControlName="content" rows="4"></textarea>
            @if(form.get('content')?.invalid){
            <mat-error>Please enter a post content.</mat-error>
            }

        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">save post</button>
    </form>
    }

</mat-card>